* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 840px;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center bottom;
}

.headline {
  padding-top: 20px;
  padding-left: 20px;
}

main {
  width: 840px;
  margin: 0 150px;
}

.service-box {
  padding-top: 50px;
  padding-bottom: 20px;
}

.service-text {
  width: 500px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
